[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/rake"]
	path = bundle/rake
	url = http://github.com/tpope/vim-rake.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/clojure"]
	path = bundle/clojure
	url = http://github.com/vim-scripts/VimClojure.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/psql"]
	path = bundle/psql
	url = http://github.com/vim-scripts/psql.vim.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = http://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
